/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
*{
	
	margin:0px;
	padding:0px;
}
.container
{
	width:100%;
}
.header
{
	background:#313131;
	width:100%;
	float:left;
}
nav.mainmenu
{
	
	padding:0px;
	margin:0px;
}
.logo{
	margin-top:30px;
}
nav.mainmenu ul
{
	padding:0px;
	margin:0px;
}
nav.mainmenu ul li
{
	width:100px;
	display:inline-block;
	vertical-align:top;
	height:150px;
	margin:0px;
	border-radius:10px;
	box-shadow:0px 0px 10px 0.1px #000;
}
nav.mainmenu ul li a
{
	color:#AAAAAA;
	margin-top:60px;
	display:block;
	font-size: 12px;
	text-align:center;
	text-decoration:none;
}
.info
{
	margin-top:10px;
	color:#DDDDDD;
}
.content{
	max-width:960px;
	position:relative;
	margin:0 auto;
	padding:0px;
}
.bannercontainer{
	border:1px solid #000;
	height:400px;
	overflow:hidden;
}

.imagestyle img
{
    width:100%;    
}
.imagestyle
{
    margin-top:20px;
    box-shadow:0px 0px 10px #000;
    
    height:150px;
    overflow:hidden;    
    padding:10px;
    
}
@media only screen and  (max-width: 400px) {
	.bannercontainer
	{
		height:200px;
	}
	.bannercontainer img{
		width:480px;
	}
	nav.mainmenu
	{
		margin-left:30px;
	}
	nav.mainmenu ul li
	{
		width:50px;
		display:inline-block;
		vertical-align:top;
		height:60px;
		margin:0px;
		border-radius:10px;
		box-shadow:0px 0px 10px 0.1px #000;
	}
	nav.mainmenu ul li a
	{
		color:#AAAAAA;
		margin-top:40px;
		display:block;
		font-size: 8px;
		text-align:center;
		text-decoration:none;
	}
	nav.mainmenu ul .home
	{
		background:url("../images/black/home.png") no-repeat;
	}
	nav.mainmenu ul .download
	{
		background:url("../images/black/download.png") no-repeat;
	}
	nav.mainmenu ul .trabajos
	{
		background:url("../images/black/trabajos.png") no-repeat;
	}
	nav.mainmenu ul .contacto
	{
		background:url("../images/black/contacto.png") no-repeat;
	}
	nav.mainmenu ul .home:hover
	{
		background:url("../images/white/home.png") no-repeat;
	}
	nav.mainmenu ul .download:hover
	{
		background:url("../images/white/download.png") no-repeat;
	}
	nav.mainmenu ul .trabajos:hover
	{
		background:url("../images/white/trabajos.png") no-repeat;
	}
	nav.mainmenu ul .contacto:hover
	{
		background:url("../images/white/contacto.png") no-repeat;
	}
	
}